@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.reviews {
    display: block;
    justify-content: center;
    width: 100%;
  
}

.collage {
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    height: 60%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;

}


.review {
    border: 0px solid black;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 6px black;
    min-width: 250px;
    max-width: 500px;

    
}

.review:hover {
    box-shadow: 0px 0px 10px rgb(154, 0, 0);
    transition: box-shadow .2s linear;
}



.sa p4{
    text-decoration: none;
    background-color: rgb(0, 146, 0) !important;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    width: 250px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: border .2s ease-in-out;
    transition: box-shadow 1s ease-in-out;
    transition: background-color .4s ease-in-out;
    
}

#link {
    text-decoration: none;
}

 p4:hover {

   outline: 3px solid white;
   background-color: rgb(0, 183, 0) !important;
   box-shadow: 0px 6px 6px greenyellow;
   transition: box-shadow .4s ease-in-out;

}

.collage a {
    text-decoration: none;
    color: black;
 
}

.review ul {
    padding: 0px;
    height:30px;
    
}

.review h2 {
    font-family: Poppins;
    font-size: 1em;
    font-weight: 700;
}

.review p2 {
    font-family: Lato;
    font-weight: 600;
    font-size: 1em;
    font-style: italic;
    display: flex; 
    margin-top: 25px;
    
    height: 0px;
}

.review p3 {
    margin-top: 0;
    font-family: Poppins;
    font-size: .75em;   
}

.review p {
    padding-top: 25px;
    font-family: Poppins, Tahoma, sans-serif;
    font-size: .60em;
    line-height: 15px;
}

.review ul {
    padding-top: 5px;
}
.review ul span {
    border: 2px solid green;
    border-radius: 50%;
    width: 20px;
    height: 15px;
    background-color: green;
    display: inline-block;
    box-shadow:2px 2px 2px greenyellow;
  
}



.review img {
    height: 70px;
    width: 70px;
    border: 0px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}




/*-------------- Glasan Reviews --------------------*/


#rev1Link {
    width: 50%;
    height: 40%;
    margin-left: -100px;
    z-index: 2; 
}



#rev2Link {
    max-width: 55%;
    height: 83%;
    margin-left: 70px;
    margin-right: -70px;
    margin-bottom: -25px;
    z-index: 5; 
    
}

#rev3Link {

    max-width: 45%;
    max-height: 40%;
    margin-top: 20px;
    margin-left: -110px;
    margin-right: 22px;
    z-index: 1;
  
}

#rev4Link {
    width: 35%;
    max-height: 40%;
    margin-top: -35px;
    margin-left: -10px;
    z-index: 3; 
   
}

#rev5Link {
    width: 30%;
    height: 30%;
    z-index: 6; 
    margin-left: -10px;
    margin-right: 0px;
    margin-top: 15px;
}

/* -------------- Dunares Reviews ---------------------- */

.dunares .collage {
    width: 95%;
    column-gap: 20px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}



.dunares #rev3Link {
    width: 50%;
    margin-left: 30px;
}

.dunares .rev1 {
  
    z-index: 1;
    max-width: 1000px;
   
}

.dunares #rev1Link {
    margin: 0;
    margin-top: 0px;
    z-index: 6;
    width: 30%;
}



.dunares #rev2Link {
    margin: 0;
    margin-top: 20px;
    margin-left: -50px;
}

.dunares .rev3 {
  padding: 20px;
    
 }


.dunares #rev4Link {
    width: 50%;
    margin: 0;
    margin-left: 50px;
    margin-top: -100px;
   


}

.dunares .rev4 {
    padding-bottom: 30px;
    max-width: 100%;
    padding-top: 10px;

}

.dunares #rev5Link {
    width: 50%;
    margin: 0;
    margin-top: -100px;
    margin-left: 400px;
    z-index: 6;
    
}

.dunares .rev5 {
    max-width: 100%;
    max-height: 20%;
}

.dunares .rev2 ul span {
    border: 2px solid green;
    background-color: green;
}

.dunares .rev1 ul span {
    background-color: white;
}

.dunares .rev1 ul span:first-of-type, .dunares .rev1 ul span:nth-of-type(2) {
    border: 2px solid green;
    background-color: green;
}

/* ------ Corrib -------- */

.corrib .collage {
    width: 90%;
}

.corrib .rev1 {
    
}

.corrib .rev2 {
    z-index: 2;
    max-width: 500px;
}

.corrib #rev3Link {
    margin-top: -50px;
    margin-left: 0px;
    margin-right: -15px;
    width: 100%;
}

.corrib .rev3 {
    max-width: 100%;
    z-index: 1;
   
}

.review ul span {
    min-height: 20px;
    min-width: 20px;
}

.rev3 {
    margin-left: -15px;
    padding-top: 20px;
    width: 100%;
    padding-right: 60px;
  
}

.rev #dots {
    visibility: hidden;
}

.rev2 {
    height: 100%;
    
}

#readMore {
    visibility: hidden;
}

.review div {
    margin-top: 10px;
    padding: 5px;
    padding-left: 0;
    overflow-y: hidden;
    max-height: 200px;
}

.review div p {
    padding: 0px;
    margin: 0;

}

.rev1 ul span {
    border: 2px solid green;
    background-color: white;
  
}

.rev1 ul span:first-of-type {
    background-color: green;
}

.rev2 ul span {
    border: 2px solid green;
    background-color: white;
  
}

.rev2 ul span:first-of-type {
    background-color: green;
}

.rev3 ul span:nth-of-type(5), .rev3 ul span:nth-of-type(4), .rev3 ul span:nth-of-type(3)  {
    background-color: white;
}

.rev4 ul span:last-of-type {
    background-color: white;
}

.rev5 ul span {
    border: 2px solid green;
    background-color: green;
}

.rev5 ul span:last-of-type {
    background-color: white;
}





/*
@media screen and (min-width:1024px) {
    #readMore {
        visibility: hidden;
    }
    
    .review ul span {
        border-radius: 50%;
        width: 20px;
        height: 20px;
      
      
    }
    
    #rev1Link {
        width: 70%;
        margin-left: -100px;
        z-index: 2; 
    }

    
    #rev2Link {
        width: 55%;
        height: 90%;
        margin-left: 70px;
        margin-right: -75px;
        margin-bottom: -25px;
        z-index: 5; 
        
    }
    
    #rev3Link {
        width: 50%;
        margin-top: -20px;
        margin-left: -200px;
        margin-right: 50px;
        z-index: 6; 
      
    }

    .rev1 {
        width: 140%;
        margin-left:-120px;
    }

    
    .rev3 {
        margin-left: -50px;
        padding-top: 20px;
        margin-top: 0px;
        width: 140%;
        padding-right: 60px;
        height: 200%;
      
    }

    
    
    #rev4Link {
        width: 45%;
        max-height: 40%;
        margin-top: -60px;
        margin-left: -20px;
        z-index: 6; 
       
    }
    
    #rev5Link {
        width: 40%;
        height: 30%;
        z-index: 6; 
        margin-left: 40px;
        margin-right: -85px;
        margin-top: 15px;
    }
    
    .rev3 {
        margin-left: -100px;
        margin-right: 50px;
        padding-top: 20px;
        width: 140%;
        padding-right: 60px;
      
    }

    .rev4 {
        width: 140%;
        
    }
    
    .rev2 {
        height: 100%;
    }

    .rev5 {
        margin-right: -150px;
        margin-left: 90px;
        width: 120%;
    }
}

*/




















