
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.headImg {
 
    height: 550px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 16.666%);
    grid-template-rows: repeat(6, 16.666%);

    
    
}

.headerTitle  {
    border: 5px solid white;
    border-radius: 5px;

    font-size: 3em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
    color: white;
    background-color: rgba(0, 42, 126, 1);


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

    z-index: 7;   
}






.headImg > div {
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 1s ease-in-out;
 
}

.headImg .shade9:hover, .headImg .shade8:hover, .headImg .shade7:hover,.headImg .shade6:hover,
.headImg .shade5:hover,.headImg .shade4:hover,.headImg .shade3:hover, .headImg .shade2:hover, 
.headImg .shade1:hover
 {
    background: rgba(0,0,0,0);
}



.individualImg-1 {
    background-image: url(../Images/DeluxDoubleEnsuite.png);
    background-position: center;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}

.headImg .shade1 {
    
    border-top: 4px solid white;
    border-left: 4px solid white;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;

    z-index: 0;

  

}


.individualImg-2 {
    background-image: url(../Images/glassan.png);
    background-position: top;

    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 4;

  
}

.headImg .shade2 {
    

    border: none;
    border-left: 4px solid white;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 4;

    z-index: 2;
   

}

.individualImg-3 {
    background-image: url(../Images/Curt.jpg);
    background-position: center;
    
    grid-column-start: 5;
    grid-column-end: 7;

    grid-row-start: 1;
    grid-row-end: 4;
}

.headImg .shade3 {
    border: 6px solid white;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 5;
    grid-column-end: 7;

    grid-row-start: 1;
    grid-row-end: 4;

    z-index: 4;

}

.individualImg-4 {
    background-image: url(../Images/CorribSingleEnsuite.png);
    background-position: bottom;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 5;
}

.headImg .shade4 {
    border-left: 4px solid white;
    border-top: 4px solid white;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 5;

    z-index: 0;

}

.individualImg-5 {
    background-image: url(../Images/Corrib.png);
    background-position: center;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 5;
    grid-row-end: 7;
    
}

.headImg .shade5 {
    border: 4px solid white;
    border-bottom:6px solid white;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 5;
    grid-row-end: 7;

    z-index: 4;

}

.individualImg-6 {
    background-image: url(../Images/HubbleLiving.jpeg);
    background-position: center;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 7;
}

.headImg .shade6 {
    border: 6px solid white;
    border-left: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 7;

    z-index: 3;

}

.individualImg-7 {
    background-image: url(../Images/Dunlin.jpg);
    background-position: right;

    grid-column-start: 4;
    grid-column-end: 6;

    grid-row-start: 4;
    grid-row-end: 7;
  
   
}

.headImg .shade7 {
    border-left: 4px solid white;
    border-bottom: 6px solid white;
   
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 4;
    grid-column-end: 6;

    grid-row-start: 4;
    grid-row-end: 7;

    z-index: 3;

}

.individualImg-8 {
    background-image: url(../Images/DunaresVillage.png);
    background-position: top;

    grid-column-start: 6;
    grid-column-end: 7;

    grid-row-start: 4;
    grid-row-end: 7;
}

.headImg .shade8 {
    border-left: 6px solid white;
    border-top: 6px solid white;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 6;
    grid-column-end: 7;

    grid-row-start: 4;
    grid-row-end: 7;

    z-index: 3;

}

.individualImg-9 {
    background-image: url(../Images/Galway.png);
    background-position: center;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 5;
}

.headImg .shade9 {
    border: 4px solid white;
    border-right: 4px solid white;
    border-bottom: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
   
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 5;

    z-index: 1;

}


  

  
  