
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
	box-sizing: border-box;
 

}

/* Grid */

.container {
	position: relative;

	width: 100%;
  min-width: 100%;
  overflow: hidden;
  

}




.headImg {
	
	grid-column: span 7;
	margin: 0px;
	padding: 0px;
	height: 550px;
}





.body {
	grid-column: span 6;
	padding: 20px;
	padding-bottom: 150px;
	background: linear-gradient(90deg, #29b000, #007e2c, #62ea39, #f2e121, #009316);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  min-width: 100%;
  
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container > div {
		padding: 30px;	
	
}



.corrib {
  margin-bottom: 150px;
}


/* Header */


.headImg img {
	
	width: 100%;
	height: 550px;
	padding: 0;
	margin: 0;

}




/* Body */

.intro a {
	text-decoration: none;
	color: black;

}

.intro a:hover {
  color: grey;
	
  max-width: 100%;

  transition: color .2s ease;
}



.intro i {
  font-size: 7px;
  transform: translate(0px, -2px);
}


.textContent {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  

  display: flex;
  margin-top: 60px;
}

.textContent .firstParagraph {
  flex-basis: 55%;
  padding-left: 0;
  padding-right: 40px;
  order: 1;
}

.textContent .secondParagraph {
  flex-basis: 100%;
  padding-top: 40px;
  order: 3;
}

.parallax {
  background-position: center;
  background-size: cover;
  transition: background-image .5s linear;

	border:6px solid rgb(0, 57, 121);
  border-radius: 25% 10%;
  


  flex-basis: 40%;

  min-height: 20vw;
  min-width: 20vw;
  max-height: 33vw;
  max-width: 33vw;
  margin-top: 10px;

  order: 2;

}


.glasan .parallax:hover {
  background-image: url(../Images/glassan.png);
  background-size: cover;
}

.glasan .parallax {
  background-image: url(../Images/Glasan.JPG);

}

.dunares .parallax:hover {
  background-image: url(../Images/Dunares.png);
  background-size: cover;
}

.dunares .parallax {
  background-image: url(../Images/DunaresVillage.png);

}

.corrib .parallax:hover {
  background-image: url(../Images/CorribOutside.png);
  background-size: cover;
 
}

.corrib .parallax {
  background-image: url(../Images/Corrib.png);
  background-size: cover;
  

}

.body > div {
	background-color: white;
  overflow: hidden;
}


h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  
}




h2 {
	
	 font-family: "Exo 2", sans-serif;
	 font-weight: 400;
	 font-style: normal;

}

p {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 30px;
	
}

.sa {
	position: relative;
  padding: 50px;
  border-radius: 20px;
  min-width: 230px;
  
}

















/* Slideshow Styling */


.other {
	display: flex;
	padding: 0 35px;
	align-items: center;
	justify-content: center;
	min-height: 700px;
	position: relative;
	
  }

  
.otherTitle {
  position:absolute;
  top: 45px;
  text-align: center;

}

.otherTitle h2 {
  font-weight:600;
  padding-top: 10px;
}
  


.wrapper {
  max-width: 1100px;
  width: 50%;
  position: relative;
  
}


.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
 
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  
}
.carousel::-webkit-scrollbar {
  display: none;
}


.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: center;
  text-align: center;
  height: 342px;
  width:75%;
  list-style: none;
  background: linear-gradient(300deg, #000000, #0000b0, #0088ff, #0085b5);
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 15px;
  background-size: 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}


}




.carousel .card .img {
  
  height: 148px;
  width: 148px;
  border-radius: 25%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 25%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  color: white;
  text-align: center;
}
.carousel .card span {
  color: white;
  font-size: 1.31rem;
  text-align: center;

}


/* FOOTER STYLING */  

footer{
  position: relative;
  grid-column: span 6;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;

  flex-wrap:wrap;
  flex-direction: row;


}







@media screen and (max-width: 5000px) {


  .wrapper .carousel {
    grid-auto-columns: calc((100%) - 9px);
  }
 


	.carousel .card .img {
		height: 198px;
		width: 198px;
		margin-top: 15px;
		
		
		
	  }
	  .card .img img {
		
		width: 190px;
		height: 190px;
	  }

   

  .carousel .card {
    width: 475px;
  }

 


  }
  

@media screen and (max-width: 1246px ) {

.glasan .collage {
  width: 90%;
}

/* --------------- Dunares Reviews ------------*/

.dunares .collage {
  width: 95%;
  column-gap: 20px;
  overflow: visible;
  padding-left: 0;
  padding-right: 0;
}



.dunares #rev3Link {
  width: 50%;
  margin-left: -40px;
}

.dunares .rev1 {

  z-index: 1;
  max-width: 1000px;
 
}

.dunares #rev1Link {
  margin: 0;
  margin-top: 20px;
  z-index: 6;
  width: 40%;
  max-width: 40%;
}




.dunares #rev2Link {
  margin: 0;
  margin-top: 40px;
  margin-left: -40px;
  width:45%;
}

.dunares .rev3 {
padding: 20px;
  
}





.dunares #rev4Link {
  width: 50%;
  margin: 0;
  margin-left: 10px;
  margin-top: -80px;
 


}

.dunares .rev4 {
  padding-bottom: 30px;
  max-width: 100%;
  padding-top: 10px;

}

.dunares #rev5Link {
  width: 60%;
  margin: 0;
  margin-top: -100px;
  margin-left: 200px;
  z-index: 6;
  
}

.dunares .rev5 {
  max-width: 100%;
  max-height: 20%;
}

/**
* ? Slideshow
**/

.other {
  padding: 0px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.other .wrapper {
  width: 70%;
}






  }

@media screen and (max-width: 1035px) {


/**
* ? Reviews Section
**/

.collage {
  width: 95%;
}


/* ------------------ Glasan Reviews ----------------- */


#rev1Link {
  width: 50%;
  height: 40%;
  margin-left: -100px;
  z-index: 2; 
}



#rev2Link {
  max-width: 55%;
  height: 83%;
  margin-left: 70px;
  margin-right: -70px;
  margin-bottom: -25px;
  z-index: 5; 
  
}

#rev3Link {
  max-width: 100%;
  width: 70%;
  max-height: 40%;
  margin-top: 30px;
  margin-left: -40px;
  margin-right:0px;
  z-index: 1; 

}


#rev4Link {

  max-width: 460px;
 
  max-height: 40%;
  margin-top: 60px;
  margin-left: -40px;
  z-index: 3; 
 
}

#rev5Link {

  width: 60%;
  max-height: 30%;
  z-index: 6; 
  margin-left: 0px;
  margin-right: 300px;
  margin-top: -100px;
  z-index: 6;
}

/* --------------- Dunares Reviews ------------*/

.dunares .collage {
  width: 95%;
  column-gap: 20px;
  overflow: visible;
  padding-left: 0;
  padding-right: 0;
}



.dunares #rev3Link {
  width: 50%;
  margin-left: -40px;
}

.dunares .rev1 {

  z-index: 1;
  max-width: 1000px;
 
}

.dunares #rev1Link {
  margin: 0;
  margin-top: 20px;
  z-index: 6;
  width: 40%;
  max-width: 40%;
}




.dunares #rev2Link {
  margin: 0;
  margin-top: 40px;
  margin-left: -40px;
  width:45%;
}

.dunares .rev3 {
padding: 20px;
  
}





.dunares #rev4Link {
  width: 50%;
  margin: 0;
  margin-left: 10px;
  margin-top: -80px;
 


}

.dunares .rev4 {
  padding-bottom: 30px;
  max-width: 100%;
  padding-top: 10px;

}

.dunares #rev5Link {
  width: 60%;
  margin: 0;
  margin-top: -100px;
  margin-left: 200px;
  z-index: 6;
  
}

.dunares .rev5 {
  max-width: 100%;
  max-height: 20%;
}

/**
* ? Slideshow
**/

.other {
  padding: 0px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.other .wrapper {
  width: 70%;
}



.wrapper i:first-child {
  left: -65px;
}

.wrapper i:last-child {
  right: -65px;
}

  .wrapper .carousel {
    grid-auto-columns: 95%;
  }

  .carousel .card {
	width: 100%;
  }

  .wrapper i:first-child{
	left: -75px;
   
  }
  .wrapper i:last-child{
	right: -75px;
  }

  .carousel .card .img {
	height: 178px;
	width: 178px;
	
	
  }
  .card .img img {
	width: 170px;
	height: 170px;

  }

  .body {
    background-color: black;
  }

}

@media screen and (max-width:800px) {
  /** 
   * ? Description Section
   * */

     /* Header */

     .sa {
      padding: 15px;
     }
  
     .sa h1 {
      font-size: 2em;
      text-align: center;
      margin-top: 10px;
    
     }
  
     .sa p {
        font-size: .9em;
        line-height: normal;
        width: 100%;
        padding: 10px;
        
  
     }
  
     .textContent {
      display: block;
      margin-top: 20px;
      padding: 20px;
     }
  
     .parallax {
      background-size: cover;
      margin-bottom: 40px;
      margin-top: 30px;
  
  
      width: 80%;
      height: 300px;
      max-width: 100%;
      max-height: 20%;
      margin-left: auto;
      margin-right: auto;
    
      border:2px solid rgb(0, 57, 121);
      border-radius: 15px;
    }

    .textContent .firstParagraph {
      padding-left: 15px;
    }
    


    .table .td p {
      font-size: 1.5em;
      bottom: -10px;
    }


  /**
  * ? Reviews
  **/

   /* Reviews */

   .sa h2 {
    font-size: 2.5em !important;
  }

  .sa p4 {
    width: 100%;
    height: 55px;
    font-size: 12px;

    padding: 20px;
    padding-top: 10px;

  

  }



  #link {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 60px;
    overflow: visible;

  
  }


  .reviews {
    width: 100%;
  }

  .reviews .collage {
    width: 80%;
    display: block;
    padding: 0;

  }

  .collage a {
    width: 100%;
    font-size: .5em; 
  }

  .dunares .collage {
    overflow: visible;
  }

  .dunares .rev1 {
    margin-bottom: 20px;
  }

  #rev1Link, .dunares #rev3Link{
   
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    padding: 0;
    

    
  }

  .reviews a {
    position: static;
    
  }

  .review, .dunares .rev1  {
    min-width: 5px;
    width: 100% !important;
    padding: 30px;
  
    margin-left: 0;
    margin-right: 0;

  }

  .review p {
    padding: 0;
    padding-top: 5px;
    font-size: 1.3em;
  }

  .review ul span {
    min-width: 10px;
    min-height: 10px;

    width: 20px;
    height: 20px;
  }

 #rev5Link {
  margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    position: static;
    padding: 0;
    display: block;
    width: 100%;
 }

 .dunares #rev5Link {
  margin-left: auto;
  margin-right: auto;
  width:100%; 
  margin-top: 25px;
}



  .review h2 {
    font-size: 2em !important;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .review p2 {
    margin-top: 15px;
    font-size: 1.5em;
 }

 .review p3 {
  font-size: 1.5em;
}



  .collage img {
    width: 40px;
    height: 40px;
  }

  /**
  * ? Slideshow
  **/
  .other {
    padding: 0px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .other .wrapper {
    width: 70%;
  }
  

  
  .wrapper i:first-child {
    left: -65px;
  }
  
  .wrapper i:last-child {
    right: -65px;
  }


}

@media screen and (max-width: 600px) {

  
/** 
   * ? Description Section
   * */

     /* Header */

     .sa {
      padding: 15px;
     }
  
     .sa h1 {
      font-size: 2em;
      text-align: center;
      margin-top: 10px;
    
     }
  
     .sa p {
        font-size: .9em;
        line-height: normal;
        width: 100%;
        padding: 10px;
        
  
     }
  
     .textContent {
      display: block;
      margin-top: 20px;
     }
  
     .parallax {
      background-size: cover;
      margin-bottom: 30px;
      margin-top: 30px;
  
  
      width: 95%;
      height: 260px;
      max-width: 100%;
      max-height: 20%;
      margin-left: auto;
      margin-right: auto;
    
      border:2px solid rgb(0, 57, 121);
      border-radius: 15px;
    }


    .table .td p {
      font-size: 1.5em;
      bottom: -10px;
    }


      /* Reviews */

  .sa h2 {
    font-size: 2em !important;
  }

  .sa p4 {
    width: 100%;
    height: 45px;
    font-size: 8px;

    padding: 20px;
    padding-top: 10px;

  

  }



  #link {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 60px;
    overflow: visible;

  
  }

  .reviews {
    width: 100%;
  }

  .reviews .collage {
    width: 80%;
    display: block;
    padding: 0;

  }

  .collage a {
    width: 100%;
    font-size: .5em; 
  }

  .dunares .collage {
    overflow: visible;
  }

  .dunares .rev1 {
    margin-bottom: 20px;
  }

  #rev1Link, .dunares #rev3Link{
   
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    padding: 0;
    

    
  }


  .reviews a {
    position: static;
    
  }

  .review, .dunares .rev1  {
    min-width: 5px;
    width: 100% !important;
    padding: 30px;
  
    margin-left: 0;
    margin-right: 0;

  }

  .review p {
    padding: 0;
    padding-top: 5px;
    font-size: 1.3em;
  }

  .review ul span {
    min-width: 10px;
    min-height: 10px;

    width: 20px;
    height: 20px;
  }

 



  .review h2 {
    font-size: 2em !important;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .review p2 {
    margin-top: 15px;
    font-size: 1.5em;
 }

 .review p3 {
  font-size: 1.5em;
}



  .collage img {
    width: 40px;
    height: 40px;
  }

/**
* ? Slideshow
**/


  .wrapper .carousel {
    grid-auto-columns: 100%;
  }

  .carousel .card {
	width: 100%;

  }

  .carousel li .card {
    min-width: 290px;
  }


.other {
  padding: 0px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.other .wrapper {
  width: 90%;
}

.wrapper i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 1em;
}

.wrapper i:first-child {
  left: 5px;
}

.wrapper i:last-child {
  right: 5px;
}


}

@media screen and (max-width: 480px) {

  .headImg {
  
    max-height: 400px;
  }

  .headerTitle {
    margin-top: 30px;
  }
   /** 
   * ? Intro
   * */

   .intro {
    padding: 20px;
  }

  .intro h1 {
    font-size: 30px;
  }

  .intro p {
    font-size: .8em;
    line-height: normal;
  }

  .intro a {
    font-size: .8em;
  }

  .quickLinks b {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }

/** 
   * ? Description Section
   * */

     /* Header */

     .sa {
      padding: 15px;
     }
  
     .sa h1 {
      font-size: 2em;
      text-align: center;
    
     }
  
     .sa p {
        font-size: .9em;
        line-height: normal;
        width: 100%;
        padding: 10px;
  
     }
  
     .textContent {
      display: block;
     }
  
     .parallax {
      background-size: cover;
      margin-bottom: 20px;
      margin-top: 30px;
  
  
      width: 95%;
      height: 170px;
      max-width: 100%;
      max-height: 20%;
      margin-left: auto;
      margin-right: auto;
    
      border:2px solid rgb(0, 57, 121);
      border-radius: 15px;
    }



  /* Reviews */

  .sa h2 {
    font-size: 2em !important;
  }


  .sa p4 {
    width: 100%;
    height: 45px;
    font-size: 8px;

    padding: 20px;
    padding-top: 10px;

  

  }



  #link {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60px;
    overflow: visible;

  
  }

  .reviews {
    width: 100%;
  }

  .reviews .collage {
    width: 100%;
    display: block;
    padding: 0;

  }

  .collage a {
    width: 100%;
    font-size: .5em; 
  }

  .dunares .collage {
    overflow: visible;
  }

  .dunares .rev1 {
    margin-bottom: 20px;
  }

  #rev1Link, .dunares #rev3Link{
   
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    padding: 0;
    

    
  }

  .reviews a {
    position: static;
    
  }

  .review, .dunares .rev1  {
    min-width: 5px;
    width: 100% !important;
    padding: 15px;
  
    margin-left: 0;
    margin-right: 0;

  }

  .review p {
    padding: 0;
    padding-top: 5px;
    font-size: 1em;
  }

  .review ul span {
    min-width: 10px;
    min-height: 10px;

    width: 15px;
    height: 15px;
  }

 



  .review h2 {
    font-size: 1.7em !important;
    margin-bottom: 5px;
  }

  .review p2 {
    margin-top: 15px;
 }



  .collage img {
    width: 40px;
    height: 40px;
  }

  .td p {
    font-size: 1.5em;
    bottom: -10px;
  }
    
/**
* ? Slideshow
**/

.other {
  padding: 0px;
  width:100%;
}

.other .wrapper {
  width: 100%;
}

.wrapper i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 1em;
}

.wrapper i:first-child {
  left: 5px;
}

.wrapper i:last-child {
  right: 5px;
}

}

@media screen and (max-width: 350px) {
  .other {
    display: none;
  }
  .container > div {
    padding: 0;
  }

}

@media screen and (max-width: 320px) {

  .container > div {
    padding: 0;
  }
  .headerTitle {
    font-size: 20px;
  }

  .headImg {
    margin-top: 100px;
    max-height: 200px;
  }

 /** 
   * ? Intro
   * */

  .intro {
    padding: 20px;
  }

  .intro h1 {
    font-size: 20px;
  }

  .intro p {
    font-size: .5em;
    line-height: normal;
  }

  .intro a {
    font-size: .5em;
  }

  .quickLinks {
    display: none;
  }


   /** 
   * ? Description Section
   * */

     /* Header */

   .sa {
    padding: 15px;
   }

   .sa h1 {
    font-size: 2em;
    text-align: center;
  
   }

   .sa p {
      font-size: .9em;
      line-height: normal;
      width: 100%;
      padding: 10px;

   }

   .textContent {
    display: block;
   }

   .parallax {
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 30px;


    width: 95%;
    height: 150px;
    max-width: 100%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
  
    border:2px solid rgb(0, 57, 121);
    border-radius: 15px;
  }
  

  /* Reviews */

  .sa h2 {
    font-size: 2em !important;
  }


  .sa p4 {
    width: 100%;
    height: 45px;
    font-size: 8px;

    padding: 20px;
    padding-top: 10px;

  

  }



  #link {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 60px;
    overflow: visible;

  
  }

  .reviews {
    width: 100%;
  }

  .reviews .collage {
    width: 100%;
    display: block;
    padding: 0;

  }

  .collage a {
    width: 100%;
    font-size: .5em; 
  }

  .dunares .collage {
    overflow: visible;
  }

  .dunares .rev1 {
    margin-bottom: 20px;
  }

  #rev1Link, .dunares #rev3Link{
   
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    padding: 0;
    

    
  }

  .reviews a {
    position: static;
    
  }

  .review, .dunares .rev1  {
    min-width: 5px;
    width: 100% !important;
    padding: 15px;
  
    margin-left: 0;
    margin-right: 0;

  }

  .review p {
    padding: 0;
    padding-top: 5px;
    font-size: .8em;
  }

  .review ul span {
    min-width: 10px;
    min-height: 10px;

    width: 15px;
    height: 15px;
  }



  .review h2 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
  }

  .review p2 {
    margin-top: 15px;
 }



  .collage img {
    width: 40px;
    height: 40px;
  }

  .td p {
    font-size: 1.5em;
    bottom: -10px;
  }











}
  
 



	  

	  



